*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1  {
    color: #46484c;
}

#parrafo {
    color: #8b8b8bcc;
}

body{
    margin: 0;
    background-color: #fffbf7;
}

button {
    color: #fff;
    background-color: #025157;
}