* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fffbf7;
}

.Encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: sans-serif;
}

.logo{
    cursor: pointer;
}

.navbar{
    list-style: none;
}
.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.acciones{
    font-size: 14px;
    margin: 0px 10px;
}
.acciones a{
    color: #67b54b;
}
.acciones button{
    color: white;
    background-color: #67b54b;
    border: 0;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}

body {
    margin: 20px;
}

.titulo {
    color: #46484c;
}

.parrafo {
    color: #8b8b8bcc;
}

.boton-form{
    background-color: #025157;
    color: #fff;
}

.promo-articulo h2{
    color: #025157;
}
.promo-articulo > p {
    color: #343434;
}
.promo-articulo > form {
    display: flex;
}
.promo-articulo > form p {
    color: #025157;
}
.promo-articulo > form button {
    background-color: #025157;
    color: white;
    border: 0px;
    border-radius: 5px;
}